<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace：当前XML文件用于配置哪个接口中抽象方法对应的SQL语句 -->
<mapper namespace="com.dao.CollectionDao">
	
	<!-- 用户注册的方法 -->
	<!-- void addnew(User user) -->
	<insert id="addnew"
		>
		INSERT INTO t_user(
				uid,username,
				gender,email,
				phone
			) VALUES(
				#{uid}, #{username},
				#{gender},
				#{email},
				#{phone}
			)
	</insert>
	<insert id="addnew1"
		>
		INSERT INTO t_collection(
			id,
			主键,质地类别2,
	     	质地类别1,藏品描述,
	    	总登号,鉴定意见,
	     	质地, 总登记号,
	    	藏品分类,中文名,
	    	是否删除,分登号,
	    	原名,藏品类别,
	    	藏品级别,历次鉴定意见,
	    	部门ID,质量范围,
	   	 	藏品类型,完残程度,
	   	 	库存状态,实际数量,
	    	登记人,年代,
	   	 	藏品来源
			) VALUES(
				#{id},
				#{主键},#{质地类别2},
				#{质地类别1},#{藏品描述},
				#{总登号},#{鉴定意见},
				#{质地},#{总登记号},
				#{藏品分类},#{中文名},
				#{是否删除},#{分登号},
				#{原名},#{藏品类别},
				#{藏品级别},#{历次鉴定意见},
				#{部门ID},#{质量范围},
				#{藏品类型},#{完残程度},
				#{库存状态},#{实际数量},
				#{登记人},#{年代},
				#{藏品来源}
			)
	</insert>
	
	<select id="count"
	resultType="java.lang.Integer">
	SELECT COUNT(*) FROM t_collection
	
	</select>
	

</mapper>






